<footer>
      <div class="container">
        <div class="row" style="width: 100%; height:100vh;" >
             
                <div class="column" style=" background-color:#0B2443;float:left; width:33.33%; height: 90vh;">
                        <div style="padding-top: 40px">
                  <h2>Developer</h2>
                  <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <h2>Gaurav Kumar</h2>
                            2K15/MC/023
                            <p>Full Stack Developer</p>
                          </div>
                          <div class="flip-card-back">
                              <div class="a">
                                    Delhi Technologial University<br>
                                    Mathematics and Computing 
                              </div>
                          </div>
                        </div>
                      </div>

                      <div class="flip-card">
                            <div class="flip-card-inner">
                              <div class="flip-card-front">
                                <h2>Sumit Kr. Sahu</h2>
                                2K15/MC/088
                                <p>Full Stack Developer</p>
                               
                              </div>
                              <div class="flip-card-back">
                                  <div class="a">
                                        Delhi Technologial University<br>
                                        Mathematics and Computing 
                                  </div>
                              </div>
                            </div>
                          </div>


                          <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2>Aman Mehta</h2>
                                    2K15/MC/09
                                    <p>Full Stack Developer</p>
                                  </div>
                                  <div class="flip-card-back">
                                      <div class="a">
                                            Delhi Technologial University<br>
                                            Mathematics and Computing 
                                      </div>
                                  </div>
                                </div>
                              </div>
                     
                        </div>
                </div>
                <div class="column" style="background-color:#0B2443; float:left; width:33.33%; height: 90vh;">
                        <div style="padding-top: 40px">
                  <h2>Stack Used</h2>
                  <p>Some text.</p>
                        </div>
                </div>
               <div class="column" style=" background-color: #0B2443; float:left; width:33.33%; height: 90vh;">
                    <div style="padding-top: 40px">
                  <h2>Codes</h2>
                  <p>Some text..</p>
                  </div>
                </div>
              </div>
            </div> 
        
        
    </footer>