<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       
</head>

<body>
    <!--  -->

       





    <div class="jumbotron jumbotron-fluid primary white">
        <div class="container text-center">
            <h1 class="display-4">
                Add a disease
            </h1>
        </div>
    </div>

    <form action="/users/<%= id %>/edit" class="col-md-5" method="post">
    
            
    <div class="container">

        
            <div class="form-group">
                <label for="">User ID :</label>
                <%= id %>
            </div>
            <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Health Issue</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="healthissue" placeholder="Describe your Health issue">
                    </div>
             </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Response to medication :</label>
                <div class="col-sm-10">
                        <input type="text" class="form-control" name="response" placeholder="Medication response that uses">
                </div>
               
            </div>
            <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Consulting Doctor:</label>
                    <div class="col-sm-10">
                            <input type="text" class="form-control" name="doctor" placeholder="Name of the Consulting Doctor">
                    </div> 
            </div>

            <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Medications used :</label>
                    <div class="col-sm-10">
                            <input type="text" class="form-control" name="medication" placeholder="Describe the Medicines used">
                    </div>
            </div>

            <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Hospital or Clinic Info :</label>
                    <div class="col-sm-10">
                            <input type="text" class="form-control" name="hospital" placeholder="Hospital or Clinic Name and Address">
                    </div>
            </div>

            <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Status:</label>
                    <div class="col-sm-10">
                            <input type="text" class="form-control" name="status" placeholder="Describe the status of your Health.">
                    </div>
            </div>

            <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Tests:</label>
                    <div class="col-sm-10">
                            <input type="text" class="form-control" name="tests" placeholder="Test during the Treatment">
                    </div>
            </div>

            <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Treatment : </label>
                    <div class="col-sm-10">
                            <input type="text" class="form-control" name="treatment" placeholder="Describe the treatment ">
                    </div>
            </div>
            <div style="text-align: center">
            <input type="submit" value="Submit" class="btn btn-primary btn-sm">
             </div>
            </div>
        </form>
    

   

</body>

</html>