body{
    padding-top:50px;
    background:#0B2443;
  }
  
  
  
    /* flip card on footer */
    .flip-card {
    margin-left: 15%;
    margin-top: 7%;
    background-color: transparent;
    width: 250px;
    height: 140px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:transparent;
    color: black;
  }
  
  div.a{
    font-size: 20px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: transparent;
    color: white;
    font-size: 10px;
    transform: rotateY(180deg);
  }